.list-order-container {
  border: 1px solid #cccccc;
  height: 644px;
  overflow: hidden;
  .header {
    padding: 10px;
    background-color: #009aff;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
  }
  .list-table {
    margin-top: 24px;
    padding: 0 24px;
    .table {
      font-size: 24px;
      background-color: #e2e1d2;
      border: 3px solid #434343;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      margin: 0 auto 24px;
      &.inProgress {
        background-color: #fff471 !important;
      }
      &.done {
        background-color: #27fc69 !important;
      }
    }
  }
}
