<section class="ant-layout">
  <header class="ant-layout-header app-header dark" style="background-color: rgb(255, 255, 255);">
    <div class="app-header-wrapper ">
      <div class="logo" style="width: 250px;"><img src="http://www.themenate.net/emilus/emilus/images/logo.png"
          alt="Emilus logo"></div>
      <div class="nav" style="width: calc(100% - 250px);">
        <div class="nav-left">
          <ul class="ant-menu ant-menu-light ant-menu-root ant-menu-horizontal" role="menu">
            <li class="ant-menu-submenu ant-menu-submenu-horizontal ant-menu-overflowed-submenu" role="menuitem"
              style="display: none;">
              <div class="ant-menu-submenu-title" role="button" aria-expanded="false" aria-haspopup="true">
                <span>···</span><i class="ant-menu-submenu-arrow"></i>
              </div>
            </li>
            <li class="ant-menu-item ant-menu-item-only-child" role="menuitem"><span role="img" aria-label="menu-fold"
                class="anticon anticon-menu-fold nav-icon"><svg viewBox="64 64 896 896" focusable="false" class=""
                  data-icon="menu-fold" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                  <path
                    d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM115.4 518.9L271.7 642c5.8 4.6 14.4.5 14.4-6.9V388.9c0-7.4-8.5-11.5-14.4-6.9L115.4 505.1a8.74 8.74 0 000 13.8z">
                  </path>
                </svg></span></li>
            <!-- <li class="ant-menu-submenu ant-menu-submenu-horizontal ant-menu-overflowed-submenu" role="menuitem"
              style="display: none;">
              <div class="ant-menu-submenu-title" role="button" aria-expanded="false" aria-haspopup="true">
                <span>···</span><i class="ant-menu-submenu-arrow"></i>
              </div>
            </li> -->
            <!-- <li class="ant-menu-item ant-menu-item-only-child" role="menuitem" style="cursor: auto;">
              <div
                class="ant-select nav-search-input   ant-select-auto-complete ant-select-single ant-select-customize-input ant-select-show-search">
                <div class="ant-select-selector"><span class="ant-select-selection-search"><span
                      class="ant-select-selection-search-input ant-input-affix-wrapper"><span
                        class="ant-input-prefix"><span role="img" aria-label="search"
                          class="anticon anticon-search mr-0"><svg viewBox="64 64 896 896" focusable="false" class=""
                            data-icon="search" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path
                              d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
                            </path>
                          </svg></span></span><input autocomplete="off" placeholder="Search..." type="text"
                        class="ant-input" role="combobox" aria-haspopup="listbox" aria-owns="rc_select_1_list"
                        aria-autocomplete="list" aria-controls="rc_select_1_list"
                        aria-activedescendant="rc_select_1_list_0" value="" id="rc_select_1"></span></span><span
                    class="ant-select-selection-placeholder"></span></div>
              </div>
            </li> -->
            <!-- <li class="ant-menu-submenu ant-menu-submenu-horizontal ant-menu-overflowed-submenu" role="menuitem"
              style="visibility: hidden; position: absolute; display: none;">
              <div class="ant-menu-submenu-title" role="button" aria-expanded="false" aria-haspopup="true">
                <span>···</span><i class="ant-menu-submenu-arrow"></i>
              </div>
            </li> -->
          </ul>
        </div>
        <div class="nav-right">
          <ul >
            <li class="mr-3">
              <i class="fa fa-cog" style="font-size: 20px;"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</section>
<div class="body">
  <div class="menu-section">
    <div class="side-bar">
      <ul>
        <li class="d-flex align-items-center" [class.active]="menuActive === 1" (click)="menuActive = 1">
          <a [routerLink]="['/category']">
            <i class="fa fa-book"></i>
            <span>Quản lý sản phẩm</span>
          </a>
        </li>
        <li class="d-flex align-items-center" [class.active]="menuActive === 2" (click)="menuActive = 2">
          <a [routerLink]="['/table']">
            <i class="fa fa-table"></i> 
            <span>Quản lý bàn</span>
          </a>
        </li>
        <li class="d-flex align-items-center" [class.active]="menuActive === 3" (click)="menuActive = 3">
          <a [routerLink]="['/order']">
            <i class="fa fa-table"></i> 
            <span>Quản lý order</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rigth-side">
    <div class="content-section">
      <button (click)="post()">click me</button>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>