.ant-layout * {
  box-sizing: border-box;
}
.ant-menu {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(26, 51, 83, 0.85);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-variant: tabular-nums;
  line-height: 1.5715;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: #fff;
  outline: none;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  // -webkit-transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  // transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}
.ant-menu-horizontal {
  line-height: 46px;
  white-space: nowrap;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1030;
  display: flex;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);

  .app-header-wrapper {
    display: flex;
    width: 100%;
  }

  .nav-icon {
    font-size: 1.25rem;
  }

  &.ant-layout-header {
    height: 70px;
    line-height: 70px;
    padding: 0;
    background-color: white;
    flex: 0 0 auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.2s ease;
  }

  .nav-right {
    margin-left: auto;
    padding: 0 1rem;
    display: flex;
  }

  .nav-left {
    display: flex;
  }

  .nav-right,
  .nav-left {
    .ant-menu {
      .ant-menu-item {
        padding: 0px 1rem;
        margin: 0;
        line-height: 70px;
      }
    }
  }

  ul {
    li {
      display: inline-block;
      .ant-input-affix-wrapper {
        padding: 0.6rem 1rem;
        color: #455560;
        font-size: 0.875rem;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #edf2f9;
        border-radius: 0.625rem;
        max-height: none;
        & > input.ant-input {
          padding: 0;
          border: none;
          outline: none;
          border-radius: 0;
        }
      }
    }
    &.ant-menu {
      line-height: 70px;
      border-bottom: 0;
      background: transparent;
    }
  }
  .nav-right {
    margin-left: auto;
    padding: 0 1rem;
    display: flex;
  }

  .ant-avatar {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #455560;
    text-align: center;
    background: #ededed;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    & > {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.app-header .nav-right .ant-menu .ant-menu-item {
  padding: 0 1rem;
  margin: 0;
  line-height: 70px;
}
.body {
  padding-top: 70px;
  display: flex;
  height: calc(100vh - 20px);
  .menu-section {
    .side-bar {
      width: 250px;
      /* padding: 10px; */
      height: 100%;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);
      background-color: #fff;
      ul {
        padding: 0;
        list-style: none;
        margin-top: 20px;
        li {

          /* margin: 4px; */
          height: 40px;
          cursor: pointer;
          a {
            padding-left: 24px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            color: rgba(26,51,83,.85);
            text-decoration: none;
          }
          span {
            margin-left: 8px;
          }
          &:hover {
            a {
              color: #3e82f7;
              transition: 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
              border-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
          &.active {
            color: #307cff;
            background-color: rgba(62, 130, 247, 0.26);
            position: relative;
            a {
              color: #3e82f7;
            }
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #307cff;
          }
        }
      }
    }
  }
  .rigth-side {
    padding: 25px;
    background-color: #f1f1f1;
    width: calc(100vw - 250px);
    height: calc(100vh - 70px);
    .content-section {
      background-color: white;
      border-radius: 5px;
      height: 100%;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);
    }
  }
}
