<div class="modal-header">
  <h5 class="mb-0" *ngIf="id">Thêm mới sản phẩm</h5>
  <h5 class="mb-0" *ngIf="!id">Cập nhật sản phẩm</h5>
  <a (click)="hide()">&times;</a> 
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group d-flex">
      <label class="form-control-label">Tên sản phẩm</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group d-flex">
      <label for="" class="form-control-label">Giá</label>
      <input type="number" class="form-control" min="0" step="1" formControlName="price">
    </div>
    <div class="form-group d-flex">
      <label for="" class="form-control-label">Loại</label>
      <select class="form-control" formControlName="type">
        <option value="" hidden>Chọn loại</option>
        <option value="FOOD">Thức ăn</option>
        <option value="DRINK">Đồ uống</option>
      </select>
    </div>
    <div class="form-group d-flex">
      <label for="" class="form-control-label">Trạng thái</label>
      <select formControlName="status" class="form-control">
        <option value="" hidden>Chọn trạng thái</option>
        <option [value]="'Available'">Active</option>
        <option [value]="'Unavailable'">InActive</option>
      </select>
    </div>
    <div class="form-group d-flex">
      <label class="form-control-label">Hình ảnh</label>
      <!-- <image-cropper-control #imageCropper formControlName="image" [hidePlaceholder]="false"
      [textNoImage]="'No image selected'">
    </image-cropper-control> -->
    <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="hide()">Hủy bỏ</button>
  <button class="btn btn-primary" [disabled]="!loading" (click)="submit()">Lưu lại</button>
</div>