@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
.cropper-container {
  .image-placeholder {
    background-color: #eee;
    display: block;
    height: 80px;
    width: 80px;
    border: solid 1px #ddd;
    background-image: url('assets/images/placeholder.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

}

.cropper-modal {

  .modal-body-nopadding {
    padding: 0;
    text-align: center;
    margin: auto;
    background-color: #222;
  }

  .image-cropper {
    display: none;
    overflow: hidden;
    position: relative;
    &.round {
      border-radius: 100%;
      .overlay {
        .btn-group {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          right: auto;
        }
      }
    }
    .modal-body {
      min-height: 400px;
    }
    label {
      position: relative;
      height: 100%;
      width: 100%;
      margin: auto;
      cursor: pointer;
      display: block;
      &:hover {
        .icon {
          color: #fff;
        }
      }
      .icon {
        font-size: 4em;
        color: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: ease-in-out 300ms;
      z-index: 99;
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    .btn-group {
      position: absolute;
      right: .5em;
      top: 1em;
      z-index: 10;
      .btn-remove {
        position: relative;
        line-height: 1;
        padding: .5em;
        border-radius: 50%;
        background-color: hsla(0, 100%, 100%, .7);
        color: #555;
        cursor: pointer;
        display: inline-block;
        width: 2em;
        text-align: center;
        &+.btn-remove {
          margin-left: .5em;
        }
        &:hover {
          background-color: hsla(0, 100%, 100%, .9);
        }
      }
    }
  }

}

.cropper-container {
  img {
    max-height: 500px;
  }

  input.ghost {
    visibility: hidden;
    position: fixed;
    opacity: 0;
  }

  .modal-body-nopadding {
    padding: 0;
    text-align: center;
    margin: auto;
    background-color: #222;
  }

  .image-cropper {
    display: block;
    overflow: hidden;
    position: relative;
    .modal-body {
      min-height: 400px;
    }
    &.fullwidth {
      .image-placeholder {
        width: 100%;
        min-height: 80px;
      }
      .preview {
        width: 100%;
        height: auto;
        max-height: none !important;
        max-width: none !important;
      }
    }
    .image {
      .preview {
        max-width: 120px;
        max-height: 80px;
        border: solid 1px #eee;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: ease-in-out 300ms;
      z-index: 99;
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    .btn-group {
      position: absolute;
      right: .5em;
      top: 1em;
      z-index: 10;
      .btn-remove {
        position: relative;
        line-height: 1;
        padding: .5em;
        border-radius: 50%;
        background-color: hsla(0, 100%, 100%, .7);
        color: #555;
        cursor: pointer;
        display: inline-block;
        width: 2em;
        text-align: center;
        &+.btn-remove {
          margin-left: .5em;
        }
        &:hover {
          background-color: hsla(0, 100%, 100%, .9);
        }
      }
    }
  }


  .cropper {
    min-height: 150px;
    img {
      max-width: 100%;
    }
  }

  .wrapper {
    position: relative;
    .loader-container {
      position: absolute;
      left: 0;
      top: -10px;
      bottom: -10px;
      right: 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }
  }

  /*!
  * Cropper.js v0.8.1
  * https://github.com/fengyuanchen/cropperjs
  *
  * Copyright (c) 2015-2016 Fengyuan Chen
  * Released under the MIT license
  *
  * Date: 2016-09-03T04:55:16.458Z
  */

  .cropper-container {
    font-size: 0;
    line-height: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
  }

  .cropper-container img {
    display: block;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    width: 100%;
    height: 100%;
    image-orientation: 0deg;
  }

  .cropper-wrap-box,
  .cropper-canvas,
  .cropper-drag-box,
  .cropper-crop-box,
  .cropper-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .cropper-wrap-box {
    overflow: hidden;
  }

  .cropper-drag-box {
    opacity: 0;
    background-color: #fff;
  }

  .cropper-modal {
    opacity: .5;
    background-color: transparent;
  }

  .cropper-view-box {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
  }

  .cropper-dashed {
    position: absolute;
    display: block;
    opacity: .5;
    border: 0 dashed #eee;
  }

  .cropper-dashed.dashed-h {
    top: 33.33333333%;
    left: 0;
    width: 100%;
    height: 33.33333333%;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }

  .cropper-dashed.dashed-v {
    top: 0;
    left: 33.33333333%;
    width: 33.33333333%;
    height: 100%;
    border-right-width: 1px;
    border-left-width: 1px;
  }

  .cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    opacity: .75;
  }

  .cropper-center:before,
  .cropper-center:after {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #eee;
  }

  .cropper-center:before {
    top: 0;
    left: -3px;
    width: 7px;
    height: 1px;
  }

  .cropper-center:after {
    top: -3px;
    left: 0;
    width: 1px;
    height: 7px;
  }

  .cropper-face,
  .cropper-line,
  .cropper-point {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .1;
  }

  .cropper-face {
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .cropper-line {
    background-color: #39f;
  }

  .cropper-line.line-e {
    top: 0;
    right: -3px;
    width: 5px;
    cursor: e-resize;
  }

  .cropper-line.line-n {
    top: -3px;
    left: 0;
    height: 5px;
    cursor: n-resize;
  }

  .cropper-line.line-w {
    top: 0;
    left: -3px;
    width: 5px;
    cursor: w-resize;
  }

  .cropper-line.line-s {
    bottom: -3px;
    left: 0;
    height: 5px;
    cursor: s-resize;
  }

  .cropper-point {
    width: 5px;
    height: 5px;
    opacity: .75;
    background-color: #39f;
  }

  .cropper-point.point-e {
    top: 50%;
    right: -3px;
    margin-top: -3px;
    cursor: e-resize;
  }

  .cropper-point.point-n {
    top: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: n-resize;
  }

  .cropper-point.point-w {
    top: 50%;
    left: -3px;
    margin-top: -3px;
    cursor: w-resize;
  }

  .cropper-point.point-s {
    bottom: -3px;
    left: 50%;
    margin-left: -3px;
    cursor: s-resize;
  }

  .cropper-point.point-ne {
    top: -3px;
    right: -3px;
    cursor: ne-resize;
  }

  .cropper-point.point-nw {
    top: -3px;
    left: -3px;
    cursor: nw-resize;
  }

  .cropper-point.point-sw {
    bottom: -3px;
    left: -3px;
    cursor: sw-resize;
  }

  .cropper-point.point-se {
    right: -3px;
    bottom: -3px;
    width: 20px;
    height: 20px;
    cursor: se-resize;
    opacity: 1;
  }

  .cropper-point.point-se:before {
    position: absolute;
    right: -50%;
    bottom: -50%;
    display: block;
    width: 200%;
    height: 200%;
    content: ' ';
    opacity: 0;
    background-color: #39f;
  }

  @media (min-width: 768px) {
    .cropper-point.point-se {
      width: 15px;
      height: 15px;
    }
  }

  @media (min-width: 992px) {
    .cropper-point.point-se {
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: 1200px) {
    .cropper-point.point-se {
      width: 5px;
      height: 5px;
      opacity: .75;
    }
  }

  .cropper-invisible {
    opacity: 0;
  }

  .cropper-hide {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
  }

  .cropper-hidden {
    display: none !important;
  }

  .cropper-move {
    cursor: move;
  }

  .cropper-crop {
    cursor: crosshair;
  }

  .cropper-disabled .cropper-drag-box,
  .cropper-disabled .cropper-face,
  .cropper-disabled .cropper-line,
  .cropper-disabled .cropper-point {
    cursor: not-allowed;
  }

}
.cursor-pointer {
  cursor: pointer;
}
html, body {
  height: 100%
}